{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Tickets{% endblock %}

{% block content %}
<div class="container">
    <!-- Content here -->
    <style>
        body {
          margin-top: 83px;
        }


    </style>

    <h1>Ticket Record</h1>

    <!--    {% for msg in get_flashed_messages() %}-->
    <!--    <div class="alert alert-success alert-dismissible pb-100 " role='alert'>{{ msg }}-->
    <!--        <button type="button" class="close" data-dismiss="alert">&times;</button>-->
    <!--    </div>-->
    <!--    {% endfor %}-->

    {% if 'ticket_created' in session %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ session.pop('ticket_created', None) }} was created.
    </div>
    {% endif %}

    <div>
        {% if count == 0 %}
        <p>There are no Tickets.</p>
        {% elif count == 1 %}
        <p>There is 1 Ticket.</p>
        {% else %}
        <p>There are {{count}} Tickets</p>
        {% endif %}
    </div>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Ticket Number</th>
                <th>Date & Time</th>
                <th>Name</th>
                <th>Category</th>
                <th>Subject</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets_list %}
            <tr>
                <td>{{ ticket.get_ticket_id() }}</td>
                <td>{{ ticket.get_datetime() }}</td>
                <td>{{ ticket.get_name() }}</td>
                <td>{{ ticket.get_category() }}</td>
                <td>{{ ticket.get_subject() }}</td>
                <td><a href="/viewTicket">View</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</div>
