{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Users</h1>
<div>
  {% if count == 0 %}
  <p>There are no users.</p>
  {% elif count == 1 %}
  <p>There is 1 user.</p>
  {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Job</th>
        <th>Date</th>
        <th>Time</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
      <tr>
        <td>{{ user.get_user_id() }}</td>
        <td>{{ user.get_first_name() }}</td>
        <td>{{ user.get_last_name() }}</td>
        <td>{{ user.get_email() }}</td>
        {% if user.get_job() == "A/F" %}
        <td>Accounting/Finance</td>
        {% elif user.get_job() == "Admin" %}
        <td>Administrative</td>
        {% elif user.get_job() == "B&W" %}
        <td>Beauty & Wellness</td>
        {% elif user.get_job() == "B/C" %}
        <td>Building/Construction</td>
        {% elif user.get_job() == "C/T" %}
        <td>Call Centres/Telemarketing</td>
        {% elif user.get_job() == "C/H" %}
        <td>Cleaning/Housekeeping</td>
        {% elif user.get_job() == "C/D" %}
        <td>Creative/Design</td>
        {% elif user.get_job() == "C/R" %}
        <td>Customer Service/Receptionists</td>
        {% elif user.get_job() == "Drivers" %}
        <td>Drivers/Riders/Delivery</td>
        {% elif user.get_job() == "E/T" %}
        <td>Education/Training</td>
        {% elif user.get_job() == "F&B" %}
        <td>Hospitality/F&B</td>
        {% elif user.get_job() == "HR" %}
        <td>Human Resources</td>
        {% elif user.get_job() == "IT" %}
        <td>IT/Techincal/Engineers</td>
        {% elif user.get_job() == "M" %}
        <td>Manufacturing</td>
        {% elif user.get_job() == "N/H" %}
        <td>Nursing/Health Care</td>
        {% elif user.get_job() == "Sales" %}
        <td>Sales/Retail/Manufacturing</td>
        {% elif user.get_job() == "S" %}
        <td>Security</td>
        {% elif user.get_job() == "Events" %}
        <td>Temporary/Events</td>
        {% elif user.get_job() == "W&L" %}
        <td>Warehousing & Logistics</td>
        {% endif %}
        <td>{{ user.get_date() }}</td>
        <td>{{user.get_time()}}</td>
        <td><a href="/updateBooking/{{user.get_user_id()}}" class="btn btn-warning">Update</a></td>
        <td>
  <form action="{{url_for('delete_user', id=user.get_user_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {#user.get_first_name()#} {#user.get_last_name()#}?');">-->
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal_{{user.get_user_id()}}">
      Delete
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal_{{user.get_user_id()}}">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </form>
</td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

